@import "./module/config";

*{
  box-sizing: border-box;
  font-family: "Microsoft YaHei","微软雅黑","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",Arial,sans-serif;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: $font-default;
  line-height: 1.5;
  //font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}


html, body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color:  #3f80ea;
  border-radius: 4px;
} /* 滑块颜色 */

::-webkit-scrollbar-corner {
  background-color: black;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */

// 输入框 默认填充 颜色修改
//input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
//  background-color: #fff !important;
//  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
//  -webkit-text-fill-color: #1f2d3d !important;
//}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  outline: none;
}
ul, ol {
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
}

//vue router transition css
.fade-enter-active,
.fade-leave-active {
  transition: all .2s ease
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* 全局配置 */
#app{
  min-width: 1200px;
  min-height: 100%
}

/* 白底面板 */
.v-wrap{
  box-sizing: border-box;
  min-height: calc(100% - 40px);
  margin: 20px 0;
  padding: 0 18px 18px;
  background: #fff;
  border-radius: 8px;
}
/* 标题 */
.v-title-box{
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
  align-items: center;
}
.v-title {
  font-size: $font-sub-title;
  color: $text-second;
  line-height: 22px;
  font-weight: normal;
  margin: 0;
  &:before{
    content: ' ';
    display: inline-block;
    width: 4px;
    height: 22px;
    border-radius: 4px;
    background: $color-primary;
    vertical-align: top;
    margin-right: 10px;
  }
}

/* 小标题 */
.v-sub-title {
  display: inline-block;
  font-size: $font-min-title;
  color: $text-second;
  line-height: 40px;
  font-weight: normal;
  margin: 10px 0 ;
}


/* 按钮 */
.v-button{
  box-sizing: border-box;
  width: 160px;
  height: 40px;
}


/* 表单 */
.v-form{
  .el-select,
  .el-input,
  .el-date-editor{
    width: 100%;
  }
  .el-select{
    .el-input{
      width: 100%;
    }
  }
  &.v-forTree{
    .el-col{
      min-width: 436px
    }
  }
}

.v-page{
  text-align: right;
  margin: 20px 30px;
}

/* 编辑、删除、上移、下移的icon处理 */
.v-icon-forth{
  display: inline-block;
  font-size: 22px;
  padding: 0 10px;
  cursor: pointer;
  margin: 0;
  &.v-icon-left{
    padding-left: 2px;
    padding-right: 12px;
  }
  &.v-icon-right{
    padding-right: 0;
    padding-left: 14px;
  }
  &.el-empty{
    display: inline-block;
    width: 32px;
  }
}

.v-blue{
  color: $color-primary !important;
}
.v-blue-cursor{
  color: $color-primary;
  cursor: pointer;
  &:hover{
    color: #6599ee;
  }
}
.v-red {
  color: $color-danger !important;
}
.v-green {
  color: $color-success !important;
}
