@import "./module/config";

/* 改变主题色变量 */
$--color-primary: $color-primary;

$--color-success: $color-success;
$--color-warning: $color-warning;
$--color-danger: $color-danger;
$--color-info: $color-disabled;

$--color-info-light: $--color-info;
$--color-info-lighter: $--color-info;

/* Background
-------------------------- */
$--background-color-base: $background-color;

/* 字体颜色 */
$--color-text-primary: $text-primary;
$--color-text-regular: $text-second;
$--color-text-secondary: $text-third;
$--color-text-placeholder: $text-fourth;

/*线条 */
$--border-color-base: $border-base;
$--border-color-light: $border-base;
$--border-color-lighter: $border-base;
$--border-color-extra-light: $border-base;
/*$--border-color-light: $border-light;
$--border-color-lighter: $border-lighter;
$--border-color-extra-light: $border-extra-light;*/

/*表格*/
$--table-header-color: $text-primary;
$--table-row-hover-background: $table-background-hover;
$--table-current-row-background: $table-background-hover;
$--table-header-background: $table-background;



/* 改变 icon 字体路径变量，必需 */
$--font-path: '../../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../../node_modules/element-ui/packages/theme-chalk/src/index";
