
/* 颜色 */
$color-primary:#2e3448;
$color-warning: #ff8d63;
$color-success: #64c15c;
$color-danger: #e5604a;
$color-disabled: #ccc;

/* 基础背景色 */
$background-color: #f5f5f5;
$module-color: #fff;


/*  表格头颜色 */
$table-background: #ebf2fc;
$table-background-hover: #f8f8f8;

/* 字体颜色 */
$text-primary: #333;
$text-second: #666;
$text-third: #999;
$text-fourth: #ccc;

/*线条 */
$border-base: #e6e6e6;

/* 字号 */
$font-main-title: 20px;
$font-sub-title: 18px;
$font-min-title: 16px;
$font-size-base: 14px;
$font-size-small: 13px;
$font-default: 12px;

